@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@media (min-width: 981px) {
  section.team {
    padding-bottom: 4vh;
    font-family: 'Sen', sans-serif;
    position: relative;
  }
  section.team div#teamm {
    position: absolute;
    top: -9vh;
  }
  section.team div.team__title {
    width: 100%;
  }
  section.team div.team__title h1 {
    font-size: 16px;
    text-align: center;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: #1C1F83;
  }
  section.team .splide {
    display: none;
  }
  section.team div.team__holder {
    max-width: 1138px;
    width: 100%;
    height: 455px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2vh auto;
  }
  section.team div.team__holder div.team__memberCard {
    width: 230px;
    height: 455px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  section.team div.team__holder div.team__memberCard img {
    width: 115px;
    height: 115px;
    border-radius: 999px;
    margin-bottom: 10px;
  }
  section.team div.team__holder div.team__memberCard h1 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #38A5DB;
    font-weight: 400;
    cursor: pointer;
  }
  section.team div.team__holder div.team__memberCard h4 {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    color: #011226;
    padding: 5px 0;
  }
  section.team div.team__holder div.team__memberCard p {
    font-size: 18px;
    color: #45515F;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }
  section.team div.team__holder div.team__memberCard div.team__carButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section.team div.team__holder div.team__memberCard div.team__carButtons button {
    width: 43px;
    height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: #7F8B98 1px solid;
  }
}

@media (max-width: 980px) {
  .splide__pagination {
    bottom: 50px;
  }
  .splide__arrow {
    display: none;
  }
  section.team {
    position: relative;
    font-family: 'Sen', sans-serif;
  }
  section.team div#teamm {
    position: absolute;
    top: -9vh;
  }
  section.team div.team__title {
    width: 100%;
  }
  section.team div.team__title h1 {
    font-size: 16px;
    text-align: center;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: #1C1F83;
    padding-bottom: 20px;
    cursor: pointer;
  }
  section.team div.team__holder {
    display: none;
  }
  section.team .splide .splide__track .splide__list .splide__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS {
    width: 230px;
    height: 455px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS img {
    width: 115px;
    height: 115px;
    border-radius: 999px;
    margin-bottom: 10px;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS h1 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #38A5DB;
    font-weight: 400;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS h4 {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    color: #011226;
    padding: 5px 0;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS p {
    font-size: 18px;
    color: #45515F;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS div.team__carButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS div.team__carButtons button {
    width: 43px;
    height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: #7F8B98 1px solid;
  }
}

@media (max-width: 440px) {
  .splide__pagination {
    bottom: 50px;
  }
  .splide__arrow {
    display: none;
  }
  section.team {
    font-family: 'Sen', sans-serif;
  }
  section.team div.team__title {
    width: 100%;
  }
  section.team div.team__title h1 {
    font-size: 16px;
    text-align: center;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: #1C1F83;
    padding-bottom: 20px;
    cursor: pointer;
  }
  section.team div.team__holder {
    display: none;
  }
  section.team .splide .splide__track .splide__list .splide__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS {
    width: 200px;
    height: 455px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS img {
    width: 115px;
    height: 115px;
    border-radius: 999px;
    margin-bottom: 10px;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS h1 {
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #38A5DB;
    font-weight: 400;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS h4 {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    color: #011226;
    padding: 5px 0;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS p {
    font-size: 12px;
    color: #45515F;
    text-align: center;
    padding: 5px 10px;
    width: 100%;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS div.team__carButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section.team .splide .splide__track .splide__list .splide__slide div.team__memberCardS div.team__carButtons button {
    width: 43px;
    height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: #7F8B98 1px solid;
  }
}
/*# sourceMappingURL=team.css.map */